# App & Environment
APP=karavantruck-api-server
ENVIRONMENT=local
LOG_LEVEL=DEBUG

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8090
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=120s

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Context
CONTEXT_TIMEOUT=30s

# Database
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=karavantruck
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=670h

# OTLP / Observability
OTEL_SERVICE_NAME=karavantruck-api-server
OTEL_PROPAGATORS=baggage,tracecontext
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_TRACES_SAMPLER=traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0
